<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Qubo Testing</title>
    
</head>
<body>
    <div class="anuncios-top">
        <p>Anuncio de algún tipo arriba de todo</p>
    </div>
    
    <input id="toggler" class="toggler" type="checkbox">
        <label for="toggler" class="burger">
            <span><i class="fas fa-bars"></i></span></label>
    <nav class="nav-vista-mobile">
        <ul class="mobile-nav">
            <li><p>Bienvenidos a quboVerde</p></li>
            <li class="item-mobile-nav"> <a href="#">Catálogo</a></li>
            <li class="item-mobile-nav"> <a href="#">Recomendados</a></li>
            <li class="item-mobile-nav"> <a href="#">otra sección</a></li>
        </ul>
    </nav>
    <header>
        <h1 class="logo"><a href="#"><img src="/images/logo.png" alt="logo"></a></h1>
        <button type="button"><i class="fas fa-search"></i></button>
        <a class="carrito" href="#"><i class="fas fa-shopping-cart"></i></a>

        
        
        <label for="toggle" class="login-icon" ><span><i class="far fa-user-circle"></i></span></label>
        <input id="toggle" type="checkbox">
        <div class="login">
            <form action="#" class="container">
              <h1>Login</h1>
              <label for="ID"><b>ID</b></label>
              <input type="text" placeholder="Ingresa ID" name="ID" required>
              <label for="psw"><b>Constraseña</b></label>
              <input type="password" placeholder="Contraseña" name="psw" required>
              <button type="submit" class="btn">Acceder</button>
            </form>
        </div>
    
    </header>

    <main>
        <section class="descripcion-main">
            <h2 class="titulo-main">Momentos verdes, simplificados</h2>
            <p class="sub-titulo-main">Plantas de hogar enviados hasta tu puerta.</p>
        </section>
        <img class="fondo-main" src="/images/homepage_mobile.jpg" alt="imagen de fondo">
        <a class="btn mobile-main" href="#" aria-label="Compra Ahora">haz tu orden</a>
        <section class="recomendados">
            <h2 class="titulo-recomendados">Recomendadods</h2>
            <p class="sub-titulo-recomendado">Encuentra tus plantas favoritas </p>
            <a class="btn mobile-recomendado" href="#" aria-label="recomendado">Los Recomendados</a>
        </section>
        <div class="Articulos slideshow-container">
            <div class="Producto mySlides fade">
                <img src="/images/plant1.jpg" alt="planta 1">
                <p class="precio">$10000</p>
                <p class="nombre-articulo">Planta X</p>
                <div class="colors">
                    <div class="color" style="background-color: #e1e851" data-hex="#e1e851"></div>
                    <div class="color" style="background-color: #8cd147" data-hex="#8cd147"></div>
                    <div class="color" style="background-color: #4a9ccf" data-hex="#4a9ccf"></div>
                    <div class="color" style="background-color: #661f45" data-hex="#661f45"></div>
                    <div class="color" style="background-color: #1e2024" data-hex="#1e2024"></div>
                </div>
            </div>
            <div class="Producto mySlides fade">
                <img src="/images/plant2.jpg" alt="planta 2">
                <p class="precio">$10000</p>
                <p class="nombre-articulo">Planta X</p>
                <div class="colors ">
                    <div class="color" style="background-color: #e1e851" data-hex="#e1e851"></div>
                    <div class="color" style="background-color: #8cd147" data-hex="#8cd147"></div>
                    <div class="color" style="background-color: #4a9ccf" data-hex="#4a9ccf"></div>
                    <div class="color" style="background-color: #661f45" data-hex="#661f45"></div>
                    <div class="color" style="background-color: #1e2024" data-hex="#1e2024"></div>
                </div>
            </div>
            <div class="Producto mySlides fade">
                <img src="/images/plant3.jpg" alt="planta 3">
                <p class="precio">$10000</p>
                <p class="nombre-articulo">Planta X</p>
                <div class="colors">
                    <div class="color" style="background-color: #e1e851" data-hex="#e1e851"></div>
                    <div class="color" style="background-color: #8cd147" data-hex="#8cd147"></div>
                    <div class="color" style="background-color: #4a9ccf" data-hex="#4a9ccf"></div>
                    <div class="color" style="background-color: #661f45" data-hex="#661f45"></div>
                    <div class="color" style="background-color: #1e2024" data-hex="#1e2024"></div>
                </div>
            </div>
            <div class="Producto mySlides fade">
                <img src="/images/plant4.jpg" alt="planta 4">
                <p class="precio">$10000</p>
                <p class="nombre-articulo">Planta X</p>
                <div class="colors">
                    <div class="color" style="background-color: #e1e851" data-hex="#e1e851"></div>
                    <div class="color" style="background-color: #8cd147" data-hex="#8cd147"></div>
                    <div class="color" style="background-color: #4a9ccf" data-hex="#4a9ccf"></div>
                    <div class="color" style="background-color: #661f45" data-hex="#661f45"></div>
                    <div class="color" style="background-color: #1e2024" data-hex="#1e2024"></div>
                </div>
            </div>
            <div class="Producto mySlides fade">
                <img src="/images/plant5.jpg" alt="planta 5">
                <p class="precio">$10000</p>
                <p class="nombre-articulo">Planta X</p>
                <div class="colors">
                    <div class="color" style="background-color: #e1e851" data-hex="#e1e851"></div>
                    <div class="color" style="background-color: #8cd147" data-hex="#8cd147"></div>
                    <div class="color" style="background-color: #4a9ccf" data-hex="#4a9ccf"></div>
                    <div class="color" style="background-color: #661f45" data-hex="#661f45"></div>
                    <div class="color" style="background-color: #1e2024" data-hex="#1e2024"></div>
                </div>
            </div>
            <div class="Producto mySlides fade">
                <img src="/images/plant6.jpg" alt="planta 6">
                <p class="precio">$10000</p>
                <p class="nombre-articulo">Planta X</p>
                <div class="colors">
                    <div class="color" style="background-color: #e1e851" data-hex="#e1e851"></div>
                    <div class="color" style="background-color: #8cd147" data-hex="#8cd147"></div>
                    <div class="color" style="background-color: #4a9ccf" data-hex="#4a9ccf"></div>
                    <div class="color" style="background-color: #661f45" data-hex="#661f45"></div>
                    <div class="color" style="background-color: #1e2024" data-hex="#1e2024"></div>
                </div>
            </div>
            <div class="Producto mySlides fade">
                <img src="/images/plant7.jpg" alt="planta 7">
                <p class="precio">$10000</p>
                <p class="nombre-articulo">Planta X</p>
                <div class="colors">
                    <div class="color" style="background-color: #e1e851" data-hex="#e1e851"></div>
                    <div class="color" style="background-color: #8cd147" data-hex="#8cd147"></div>
                    <div class="color" style="background-color: #4a9ccf" data-hex="#4a9ccf"></div>
                    <div class="color" style="background-color: #661f45" data-hex="#661f45"></div>
                    <div class="color" style="background-color: #1e2024" data-hex="#1e2024"></div>
                </div>
            </div>
            <div class="Producto mySlides fade">
                <img src="/images/plant8.jpg" alt="planta 8">
                <p class="precio">$10000</p>
                <p class="nombre-articulo">Planta X</p>
                <div class="colors">
                    <div class="color" style="background-color: #e1e851" data-hex="#e1e851"></div>
                    <div class="color" style="background-color: #8cd147" data-hex="#8cd147"></div>
                    <div class="color" style="background-color: #4a9ccf" data-hex="#4a9ccf"></div>
                    <div class="color" style="background-color: #661f45" data-hex="#661f45"></div>
                    <div class="color" style="background-color: #1e2024" data-hex="#1e2024"></div>
                </div>
            </div>
            <div class="Producto mySlides fade">
                <img src="/images/plant9.jpg" alt="planta 9">
                <p class="precio">$10000</p>
                <p class="nombre-articulo">Planta X</p>
                <div class="colors">
                    <div class="color" style="background-color: #e1e851" data-hex="#e1e851"></div>
                    <div class="color" style="background-color: #8cd147" data-hex="#8cd147"></div>
                    <div class="color" style="background-color: #4a9ccf" data-hex="#4a9ccf"></div>
                    <div class="color" style="background-color: #661f45" data-hex="#661f45"></div>
                    <div class="color" style="background-color: #1e2024" data-hex="#1e2024"></div>
                </div>
            </div>

            <!-- BOTONES  -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

        </div>
        <section class="catalogo">
            <h2 class="titulo-catalogo">Catalogo</h2>
            <p class="sub-titulo-catalogo">Encuentra tus plantas favoritas 2</p>
            <a class="btn mobile-catalogo" href="#" aria-label="recomendado">Catálogo</a>
            <img src="/images/catalogo-imagen.webp" alt="catalogo imagen">
        </section>

    </main>

    <footer></footer>

<!--jQuery  -->
<script src="/js/script.js"></script>
</body>
</html>